@import url(../main.css);

#list-folder {
    width: 700px;
    height: calc(90vh - 70px);
    overflow: hidden auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;

    .box {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-basis: 300px;
        flex-grow: 1;
        background-color: #ffffff;
        box-shadow: 0 0 10px #0004;
        border-radius: 10px;
        cursor: pointer;
        padding: 0 10px 0 0;
        gap: 10px;
        overflow: hidden;

        .box-svg {
            width: 50px;
            height: 50px;
            background-color: #eee;
            display: grid;
            align-items: center;
            justify-content: center;
            z-index: 2;

            svg {
                width: 25px;
                fill: var(--primary);
            }
        }
        
        h1 {
            z-index: 1;
            margin-left: 15px;
            font-size: .9rem;
        }
        h1.titleFolder {
            max-width: 200px;
            overflow: hidden;
        }
    }

    .box:hover {
        background-color: #eeeeee;
        box-shadow: 0 0 10px #0004, 0 0 20px #0004, 0 0 50px #0004;

        .box-svg {
            background-color: #ddd;
        }
    }
}

#list-folder::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}

#list-folder::-webkit-scrollbar-track {
    background: var(--primary);        /* color of the tracking area */
}

#list-folder::-webkit-scrollbar-thumb {
    background-color: var(--show);    /* color of the scroll thumb */
    border-radius: 5px;       /* roundness of the scroll thumb */
    border: 3px solid var(--primary);  /* creates padding around scroll thumb */
}