@import url(../global.css);

.box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    width: 50dvw;
    max-width: 500px;
    padding: 50px;
    border-radius: 30px;
    box-shadow: 10px 10px 15px #0003;
    border: none;

    .category, .folder {
        position: relative;
        width: 70px;
        height: 70px;
        border-radius: 10px;
        box-shadow: 0 0 10px #0003;
        cursor: pointer;
        display: grid;
        align-items: center;
        justify-content: center;

        svg {
            width: 25px;
            fill: var(--primary);
        }

        span {
            position: absolute;
            max-width: 70px;
            height: 20px;
            font-size: 10px;
            left: 0;
            bottom: -20px;
            display: grid;
            align-items: center;
            justify-content: center;
            font-family: var(--font-family);
            letter-spacing: 2px;
            overflow: hidden;
        }
    }
    .category:hover, .folder:hover {
        opacity: .7;

        svg {
            fill: var(--show);
        }
    }

    .category {
        background-color: #fff;
    }
    .folder.empty {
        border: 1px dashed var(--primary);
        background-color: #0004;

        .full-icon {
            display: none;
        }
        .empty-icon {
            display: block;
        }
    }
    .folder.full {
        background-color: #fff;

        .full-icon {
            display: block;
        }
        .empty-icon {
            display: none;
        }
    }
}