@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;    
    user-select: none;
    outline: none;
    transition: .2s;
}

:root {
    --background: #2a2829;
    --txtBG: #ffffff;
    --transparent-background: #fff1;
    --headerSize: 35px;
    --headerBG: #0006;
    --footerSize: 80px;
    --footerBG: #fff3;
    --primary: #591C21;
    --primary-transparent: #591c21d7;
    --show: #D92525;
    --opacity: #8C1F28;
}

.light:root {
    --background: #ebebeb;
    --txtBG: #000000;
    --transparent-background: #0001;
    --footerBG: #0003;
    --primary: #0097d3;
    --primary-transparent: #0097d377;
    --show: #00ffff;
    --opacity: #00597c;
}

*::-webkit-scrollbar {
    width: 12px;           
}

*::-webkit-scrollbar-track {
    background: var(--primary);       
}

*::-webkit-scrollbar-thumb {
    background-color: var(--show);    
    border-radius: 5px;     
    border: 3px solid var(--primary); 
}

body {
    background-color: var(--background);
    font-family: 'Cabin Condensed', sans-serif;
}

header {
    width: 100vw;
    height: var(--headerSize);
    background-color: var(--headerBG);
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
    padding: 0 10px;

    #theme {
        cursor: pointer;
    }

    button {
        background-color: transparent;
        border: none;
        outline: none;
        color: #ffffff;
        padding: 0 10px;
        text-transform: uppercase;
    }
}

main {
    width: 100vw;
    height: calc(100vh - var(--headerSize) - var(--footerSize));
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: var(--footerSize);
    background-color: var(--transparent-background);
    backdrop-filter: blur(20px);
    transition: .3s;
    z-index: 1000;
    cursor: pointer;
    overflow: hidden;

    #close {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        display: none;
    }

    #media-box {
        width: 100vw;
        height: 0;
        transition: .3s;
        background-color: var(--footerBG);
        display: grid;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        svg {
            width: 30px;
            fill: var(--show);
            transition: .3s;
        }

        #image, #video {
            width: 50vw;
            max-width: 1000px;
            max-height: calc(100vh - (var(--headerSize)*2) - var(--footerSize) - 50px);
            background-color: #000;
            border-radius: 10px;
            cursor: default;
        }
        #image {
            cursor: zoom-in;
        }
        #image.full {
            position: absolute;
            left: 0;
            top: 0;
            width: 100vw;
            min-width: 100vw;
            height: 100vh;
            min-height: 100vh;
            border-radius: 0;
            cursor: zoom-out;
        }
    }

    #control-box {
        width: 100vw;
        height: var(--footerSize);
        display: flex;
        transition: .3s;

        #image {
            min-width: var(--footerSize);
            height: var(--footerSize);
            background-color: var(--opacity);
            display: grid;
            align-items: center;
            justify-content: center;

            svg {
                width: 30px;
                fill: var(--show);
            }
        }

        #title {
            width: calc(100vw - var(--footerSize) - 350px);
            max-width: 700px;
            display: flex;
            align-items: center;
            overflow: hidden;
            text-wrap: nowrap;
            padding: 10px;
            color: var(--txtBG);
            font-weight: 600;
        }
    }
}
footer.active {
    height: calc(100vh - var(--headerSize));
    
    #close {
        display: block;
    }

    #media-box {
        height: calc(100vh - var(--headerSize) - var(--footerSize));
    }
}

.remove {
    display: none !important;
}