@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;    
    user-select: none;
    outline: none;
}

:root {
    --background: #2a2829;
    --primary: #044040;
    --show: #25d9ca;
    --opacity: #1f8c8c;
    --headerSize: 70px;
    --footerSize: 80px;
}

.light:root {
    --background: #ebebeb;
    --primary: #591C21;
    --show: #D92525;
    --opacity: #8C1F28;
}

body {
    background-color: var(--background);
    font-family: 'Cabin Condensed', sans-serif;
}

header {
    width: 100vw;
    height: var(--headerSize);
    background-color: #0003;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;

    span {
        width: 20px;
    }

    svg {
        width: 30px;
        fill: #fff;
    }

    a {
        color: #fff;
        font-size: 1rem;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    a:hover, svg:hover {
        opacity: .7;
    }

    .theme {
        position: absolute;
        right: 20px;
        width: var(--headerSize);
        height: var(--headerSize);
        display: grid;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        svg {
            width: 30px;
            fill: var(--primary);
        }
    }
}

main {
    width: 100vw;
    height: calc(100vh - var(--headerSize) - var(--footerSize));
    display: grid;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: var(--footerSize);
    background-color: var(--primary);
    transition: .3s;
    z-index: 1000;
    cursor: pointer;
    box-shadow: 0 0 10px #0003, 0 0 20px #0003, 0 0 50px #0003;
    overflow: hidden;

    #menu-box {
        width: 100vw;
        height: 0;
        background-color: #0005;
        transition: .3s;
    }

    #media-box {
        width: 100vw;
        height: 0;
        transition: .3s;
        background-color: #0003;
        display: grid;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        svg {
            width: 30px;
            fill: var(--show);
            transition: .3s;
        }

        #image, #video {
            width: 50vw;
            max-width: 1000px;
            max-height: calc(100vh - (var(--headerSize)*2) - var(--footerSize) - 50px);
            cursor: zoom-in;
            background-color: #000;
            border-radius: 20px;
        }
        #image.full, #video.full {
            position: absolute;
            left: 0;
            top: 0;
            width: 100vw;
            min-width: 100vw;
            height: 100vh;
            min-height: 100vh;
            border-radius: 0;
            cursor: zoom-out;
        }
    }

    #control-box {
        width: 100vw;
        height: var(--footerSize);
        display: flex;
        transition: .3s;

        #image {
            min-width: var(--footerSize);
            height: var(--footerSize);
            background-color: var(--opacity);
            box-shadow: 0 10px 10px #0009;
            display: grid;
            align-items: center;
            justify-content: center;

            svg {
                width: 30px;
                fill: var(--show);
            }
        }

        #title {
            width: calc(100vw - var(--footerSize) - 350px);
            max-width: 700px;
            display: flex;
            align-items: center;
            overflow: hidden;
            text-wrap: nowrap;
            padding: 10px;
            color: #fff;
            font-weight: 600;
        }

        #controls {
            position: absolute;
            right: 0;
            bottom: calc(var(--footerSize)/2 - 25px);
            width: 300px;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            background: #0003;
            backdrop-filter: blur(10px);
            border-radius: 10px 0 0 10px;

            svg {
                width: 25px;
                fill: #fff;
            }

            #stop {
                width: 15px;
                height: 15px;
                border: 1px solid #fff;
                border-radius: 5px;
            }

            svg:hover, #stop:hover {
                opacity: .8;
            }
        }
    }
}
footer.active {
    height: calc(100vh);
    
    #menu-box {
        height: var(--headerSize);
    }
    
    #media-box {
        height: calc(100vh - var(--headerSize) - var(--footerSize));
    }
}

#loading {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10000;
    background-color: transparent;
    backdrop-filter: blur(10px);

    display: grid;
    align-items: center;
    justify-content: center;

    svg {
        width: 100%;
        height: 100%;
        font-weight: bold;

        display: grid;
        align-items: center;
        justify-content: center;
    }
}

.remove {
    display: none !important;
}