* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}

:root {
    --background: #2a2829;
    --primary: #044040;
    --show: #25d9ca;
    --opacity: #1f8c8c;
    --font-family: Arial, Helvetica, sans-serif;
    --headerSize: 70px;
    --footerSize: 80px;
}

.light:root {
    --background: #ebebeb;
    --primary: #591C21;
    --show: #D92525;
    --opacity: #8C1F28;
}

body {
    background-color: var(--background);
    font-family: 'Cabin Condensed', sans-serif;
}

header {
    width: 100vw;
    height: var(--headerSize);
    background-color: #0003;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;

    span {
        width: 20px;
    }

    svg {
        width: 30px;
        fill: #fff;
    }

    a {
        color: #fff;
        font-size: 1rem;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    a:hover, svg:hover {
        opacity: .7;
    }

    .theme {
        position: absolute;
        right: 20px;
        width: var(--headerSize);
        height: var(--headerSize);
        display: grid;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        svg {
            width: 30px;
            fill: var(--primary);
        }
    }
}

main {
    width: 100vw;
    height: calc(100vh - var(--headerSize) - var(--footerSize));
    display: grid;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 80px;
    background-color: var(--primary);
    transition: .3s;
    z-index: 1000;
    cursor: pointer;
    box-shadow: 0 0 10px #0003, 0 0 20px #0003, 0 0 50px #0003;
}
footer.active {
    height: calc(100vh - var(--headerSize));
}

svg#loading {
    font-weight:bold;
    max-width:600px;
    height:auto;
}

.remove {
    display: none;
}